@model IEnumerable<Stock.Models.Order>
@{
    ViewBag.Title = "Orders List";
}

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        setInterval(function () { $('#stockdiv').load('/Home/Orders'); }, 10000);
    });
</script>
<div id="stockdiv">

    @Html.Partial("OrdersList", Model)
</div>

